[submodule "yazi/plugins/yamb.yazi"]
	path = yazi/plugins/yamb.yazi
	url = https://github.com/h-hg/yamb.yazi.git
[submodule "yazi/plugins/compress.yazi"]
	path = yazi/plugins/compress.yazi
	url = https://github.com/KKV9/compress.yazi.git
[submodule "yazi/flavors/tokyo-night.yazi"]
	path = yazi/flavors/tokyo-night.yazi
	url = https://github.com/BennyOe/tokyo-night.yazi.git
