[submodule "yazi/plugins/compress.yazi"]
	path = yazi/plugins/compress.yazi
	url = https://github.com/KKV9/compress.yazi.git
[submodule "yazi/plugins/yamb.yazi"]
	path = yazi/plugins/yamb.yazi
	url = https://github.com/h-hg/yamb.yazi.git

